/* Tampilan dasar dan posisi kalkulator di tengah layar */
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

/* Struktur utama kalkulator */
.container{   
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff; 
}

.content{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
/* Desain tombol-tombol */
.row button{
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffff;
}
/* Efek tombol saat kursor diarahkan */
.row button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
                inset -5px -5px 8px #fff;
    background: #fff;
}

/* Desain layar kalkulator */
.display #screen{
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

/* Tombol "=" */
#eval{
    background: #00c7b3; /* Aqua lebih tebal */
    color: #fff;
    font-weight: bold;
}

#eval:hover{
    box-shadow: inset 7px 7px 12px #009889,
                inset -7px -7px 12px #44f5e3;
}
/* Tombol C (Clear) */
#ac{
    background: #ff2d6f; /* Coral lebih tebal */
    color: #fff;
}

#ac:hover{
    box-shadow: inset 7px 7px 12px #cc0050,
                inset -7px -7px 12px #ff6f94;
}

/* Tombol CE (Clear Entry) */
#ce{
    background: #ff3399;
    color: #fff;
}

#ce:hover{
    box-shadow: inset 5px 5px 8px #e60073,
                inset -5px -5px 8px #ff3399;
}

/* Kotak Riwayat Perhitungan */
#history{
    margin-left: 1.8em;
    width: 340px;
    height: 335px;
    border-radius: 8px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #ffd6e7;
    box-shadow: inset 5px 5px 8px #e6bccc,
                inset -5px -5px 8px #ffeaf3;
    box-sizing: border-box;
    padding: 10px 20px;
}

#history:hover{
    box-shadow: inset 5px 5px 8px #e6bccc,
                inset -5px -5px 8px #ffeaf3;
}

/* Mengatur scrollbar */
#history::-webkit-scrollbar{
    width: 1;
}
/* Desain judul "History" */
#history h1{
    padding: 0px 0px;
    font-size: 1.8em;
}
/* Desain elemen terbaru pada riwayat */
#history p:last-child{
    font-size: 1.4em;
    font-weight: 500;
    color: #222;
}

